<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        var input = ""
        function myFunction() { 
            var input = document.getElementById("input").value

            document.getElementById("resultText").innerHTML = input;
        }
    </script>
</head>
<body>
    <p>Hello, World!</p>

    <form action="/runscript">
        <input type="text" id="input" name="input"><br><br>
        <input type="submit" value="Send">
        <!-- <button type="button" onclick="myFunction()">Send</button> -->
    </form>

    <p id="resultText">{{result}}</p>
</body>
</html>